body {
	margin: 0;
	font-family: 'Century',serif;
	font-size: 17px;
	line-height: 1.6em;
	color: #5D6063;
	-webkit-font-smoothing: antialiased;
}

table {
	width: 100%;
}

/*
	Reference 1:
	https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card Accessed on 24/02/2020
*/
div.polaroid {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
	text-align: center;
	padding: 10px 20px;
	font-size: 10px;
}
/* End Reference 1*/

div.round {
	border: 2px solid #4caf50;
	border-radius: 8px;
}

h3.title {
	text-align: center;
}

p.content {
	margin-left: 30px;
	margin-right: 30px;
}

/*
	Reference for sidebar
	https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed2 Accessed on 24/02/2020
*/
.sidebar {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	width: 98%;
	background-color: #f1f1f1;
	border: 2px solid #4caf50;
	border-radius: 8px;
}

.sidebar-item {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

.sidebar-active {
	background-color: #4CAF50;
	color: white;
}

li a:hover:not(.active) {
	background-color: #555;
	color: white;
}

/* End Reference for sidebar*/

div.content {
	padding-left: 200px;
	padding-right: 150px;
}

.body-container {
	 display: grid;
	 grid-template-rows: 100px;
	 grid-template-columns: 200px auto 300px;
 }

.left {
	margin-top: 170px;
}

.middle {
	margin: 0 auto;
}

.right {
	margin-top: 170px;
}

/*
	Reference: jQuery layout shifter
	Author: Seth Abbott
	Link: https://codepen.io/sethabbott/pen/Lfxgz Accessed on 24/02/2020
*/
.story {
	width: 100%;
	padding: .5rem 0 1rem 0;
	text-align: left;
	overflow: hidden;
	margin-bottom: 1rem;
	border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}

.story-image{
	float: left;
	width: 125px;
	height: 100px;
	margin-right: 1.5rem;
	border-radius: 3px;
	overflow: hidden;
	transition: width .25s ease;
}

.story-desc {
	line-height: 1.5;
}

.story-image img {
	width: 100%;
	max-width: auto;
}

.story-title {
	font-size: 20px;
	font-family: "noto sans", arial, sans-serif;
	font-weight: 700;
	letter-spacing: -.05rem;
	margin-bottom: 5px;
	color: rgba(3,54,73,1);
}

/* End Reference jQuery layout shifter*/

/*
	Big Numbers Ordered List
	Link: https://designshack.net/articles/css/5-simple-and-practical-css-list-styles-you-can-copy-and-paste/ Accessed on 24/02/2020
*/

.ordered-body {
	width: auto;
	margin: 10px;
}

.ordered-list {
	color: #ccc;
	list-style-type: none;
}

.ordered-item {
	position: relative;
	font: bold italic 45px Helvetica, Verdana, sans-serif;
	margin-bottom: 10px;
}

.ordered-item-body {
	font: bold 16px Century, Verdana, sans-serif;
	font-style: normal;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 60px;
	color: #555;
}

.ordered-item-head {
	position: absolute;
}

/* End Reference for Big Numbers Ordered List */

.header-container {
	margin: 0 auto;
	width: 60%;
}

.head {
	font-size: 50px;
	text-align: center;
}

.second-line {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.line-left {
	border-top: 1px solid #959BA0;
	flex: 1;
	position: relative;
	top: 10px;
	margin-right: 12px;
}

.line-right {
	border-top: 1px solid #959BA0;
	flex: 1;
	position: relative;
	top: 10px;
	margin-left: 12px;
}

.sub-head {
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Harman Simple';
	font-weight: normal;
}

.header-info {
	font-size: 15px;
	margin-bottom: 10px;
	text-align: center;
	font-style: italic;
}